*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #336cdc, #a317c6);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 400px;
    height: 90vh;
    background-color: #fff;
    margin: 40px auto 20px;
    border: 6px solid #262525;
    padding: 40px 30px 70px;
    border-radius: 20px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row #input-box{
    flex: 1; /*--takes all space--*/
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
}
.row button{
    border: none;
    outline: none;
    padding: 10px 40px;
    background: #9341f7;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
.todo-app ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #00bf5f;
}
ul li::before{
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 1px;
}
ul li.checked{
    color: #f25252;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
/*-----bin icon------*/
ul li i{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
  
    /* background: none; */
    /* transition: background, color 0.4s; */
}

ul li i:hover{
    color: #f25252;
    background: #edeef0;
    display: inline-block; /* Ensure the icon is treated as a block-level element */
    animation: shake 0.4s ease-in-out infinite;
}
/* @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(0.5deg); }
    50% { transform: translateX(5px) rotate(-0.5deg); }
    75% { transform: translateX(-5px) rotate(0.5deg); }
    100% { transform: translateX(0); }
  } */
  @keyframes shake {
    0% { transform: rotate(0); }
    25% { transform:  rotate(14deg); }
    50% { transform:  rotate(-14deg); }
    75% { transform:  rotate(14deg); }
    100% { transform: rotate(0); }
  }

  